@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(195, 53%, 80%, 1);
  background-image: url("../public/paper.png");
}

.App {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 550px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border: 0.15rem solid hsla(248, 39%, 39%, 0.5);
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0 hsla(0, 0%, 0%, 0.2);
  background-color: hsla(195, 50%, 60%, 0.8);
  background-image: url("../public/notebook.png");
  font-family: "Charm", serif;
}

.quote-text {
  font-size: 2.4rem;
  font-weight: bold;
  color:hsla(0, 0%, 0%, 0.7);
}

.quote-author {
  align-self: flex-end;
  font-size: 1.8rem;
  font-weight: bold;
  color:hsla(0, 0%, 0%, 0.5);
}

.functionality-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.functionality-button {
  padding: 0.75rem 1.5rem;
  border: 0.15rem solid hsla(248, 39%, 39%, 0.5);
  border-radius: 0.5rem;
  background: hsla(255, 100%, 100%, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0 hsla(0, 0%, 0%, 0.2);
  font-family: "Charm", serif;
  font-size: 1.2rem;
  font-weight: bold;
  color:hsla(0, 0%, 0%, 0.75);
  cursor: pointer;
}

.functionality-button:hover {
  background: hsla(255, 100%, 100%, 0.6);
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
  font-family: sans-serif;
  font-family: "Roboto Mono", sans-serif;
}

.info-back-end, 
.info-front-end{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-back-end-title,
.info-front-end-title {
  font-weight: bold;
}


.info-source-code,
.info-hosted {
  display: flex;
  gap: 0.25rem;
}

.info-source-code-image,
.info-hosted-image {
  max-width: 1rem;
}

.info-container a {
  color:hsla(248, 39%, 39%, 0.8);
}